{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card p-4" style="background-color: #fff;">
        <h2 class="text-center mb-4" style="color: var(--color1);">Acerca de Mí</h2>
        <p><strong>Nombre:</strong> Eslanny Karin Ramírez Sandoval</p>
        <p><strong>Edad:</strong> 29 años</p>
        <p><strong>Profesión:</strong> Analista de datos</p>
        <p><strong>Reflexión del proyecto:</strong></p>
        <p>
            Aprendí muchísimo, especialmente sobre la estructura y la lógica detrás de los modelos, vistas y templates en Django. Quizás me propuse una meta ambiciosa con este proyecto, pero gracias a eso pude practicar más, investigar por mi cuenta y aprender incluso cosas que no vimos en clases.
        </p>
        <p>
            Lo que más disfruté fue ese proceso de descubrir y adaptar soluciones, y ver cómo, paso a paso, fui construyendo funcionalidades cada vez más complejas. Aunque no alcancé a completar todo lo que imaginé, siento que logré desarrollar una base sólida y significativa para lo que será un gran proyecto.
        </p>
    </div>
</div>
{% endblock %}