{% extends 'base.html' %}

{% block title %}Detalle del producto{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
            <h2 class="mb-3 text-center">{{ item.title }}</h2>
            {% if item.image1 %}
            <img src="{{ item.image1.url }}" class="img-fluid rounded mb-4" alt="Imagen del producto"> <!-- luego buscar forma de mostrar varias imagenes del producto adjunta por user -->
            {% endif %}
            <p><strong>Descripción:</strong> {{ item.description }}</p>
            <p><strong>Precio inicial:</strong> ${{ item.start_price }}</p>
            <p><strong>Fecha de inicio:</strong> {{ item.start_date }}</p>
            <p><strong>Fecha de cierre:</strong> {{ item.end_date }}</p>
            <p><strong>Categoría:</strong> {{ item.get_category_display }}</p>
            <div class="d-flex justify-content-center mt-4 gap-3">
                <a href="{% url 'explore_items' %}" class="btn" style="background-color: var(--color2); color: white;">
                    Volver a explorar
                </a>
                {% if user.is_authenticated %}
                    <a href="#" class="btn" style="background-color: var(--color1); color: white;">
                        Ofertar por este producto
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn" style="background-color: var(--color1); color: white;">
                        Inicia sesión para ofertar
                    </a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
